body {
  background: peachpuff;
}

.a {
  background-color: red;
  height: 33vh;
}

.b {
  background-color: orange;
}

.c {
  background-color: yellow;
}

.d {
  background-color: greenyellow;
}

.e {
  background-color: aqua;
}

.f {
  background-color: violet;
}

.g {
  background-color: antiquewhite;
}

.h {
  background-color: black;
  width: 100%;
}

.b, .c, .d, .e, .f, .g {
  width: 25vw;
  height: 33vh;

}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

.row-2 {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .row-container {
    flex-direction: column;
  } 
  
  .row-1, .row-2 {
     display: flex;
     flex-direction: row;
  }

  .b, .c, .d, .e, .f, .g {
    width: 33vw;
    height: 20vh;

  }

  .a {
    height: 20vh;
  }

  .h {
    height: 40vh;
  }

}
